<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Birthday Web App">
    <meta name="author" content="Nandweza Allan">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Allan's Birthday</title>
</head>
<body>
    <section id="hero" class="bg-light">

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand m-adjust" href="">
                    <p class="" width="75">Nandweza Allan</p>
                </a>
                <button class="navbar-toggler b-adjust" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 r-adjust">
                        <li class="nav-item">
                            <a class="nav-link active" href="#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="#about">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#post">Post a Birthday message</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide hero-carousel" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://avatars.githubusercontent.com/u/63627595?s=120&v=4" class="d-block hero-image" alt="..." width="200">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum, id nesciunt aliquid dignissimos, reprehenderit eum nam tenetur reiciendis magnam eos minima exercitationem aut mollitia quo ut et maiores fugiat?</p>
                </div>
                <div class="carousel-item">
                    <img src="https://avatars.githubusercontent.com/u/63627595?s=120&v=4" class="d-block hero-image" alt="..." width="200">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum, id nesciunt aliquid dignissimos, reprehenderit eum nam tenetur reiciendis magnam eos minima exercitationem aut mollitia quo ut et maiores fugiat?</p>
                </div>
                <div class="carousel-item">
                    <img src="https://avatars.githubusercontent.com/u/63627595?s=120&v=4" class="d-block hero-image" alt="..." width="200">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum, id nesciunt aliquid dignissimos, reprehenderit eum nam tenetur reiciendis magnam eos minima exercitationem aut mollitia quo ut et maiores fugiat?</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h2 class="about-heading mt-2">About me</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Soluta eligendi sequi, voluptatem totam nisi quisquam rem 
                        laborum iste sunt voluptate praesentium, corporis quam velit 
                        natus odio eum modi corrupti! Corrupti.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Soluta eligendi sequi, voluptatem totam nisi quisquam rem 
                        laborum iste sunt voluptate praesentium, corporis quam velit 
                        natus odio eum modi corrupti! Corrupti.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Soluta eligendi sequi, voluptatem totam nisi quisquam rem 
                        laborum iste sunt voluptate praesentium, corporis quam velit 
                        natus odio eum modi corrupti! Corrupti.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Soluta eligendi sequi, voluptatem totam nisi quisquam rem 
                        laborum iste sunt voluptate praesentium, corporis quam velit 
                        natus odio eum modi corrupti! Corrupti.
                    </p>
                </div>
                <div class="col">
                    <img src="https://avatars.githubusercontent.com/u/63627595?s=120&v=4" alt="" width="300" height="300">
                    <div class="icons">
                        <h3 class="icons-heading">
                            Connect with me
                        </h3>
                        <br>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-github"></i>
                        <i class="fa fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>