#hero {
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1287182265/photo/close-up-on-group-of-gold-color-of-rolling-ribbon-and-confetti-on-teal-background-with-copy.jpg?b=1&s=170667a&w=0&k=20&c=urLa1dZ_HKBGjZYPQOTq_-nFbLX9PGUBQG9wTkecSIU=');
    background-size: cover;
    color: #fff;
}

.hero-link {
    color: #fff;
    font-size: 1.2rem;
}

.hero-carousel {
    text-align: center;
    padding: 7% 15%;
}

.hero-image {
    margin: 0 auto;
    border-radius: 50%;
}

#about {
    height: 100vh;
    text-align: center;
    padding: 3% 15%;
}

.icons .fa {
    padding: 5px;
    font-size: 30px;
    color: rgb(37, 127, 179);
    cursor: pointer;
}

#post {
    background-color: gainsboro;
    /* height: auto; */
    margin: 0 auto;
    padding: 7% 15%;
}

.post-form textarea {
    border: none;
    border-bottom: 1px solid #000;
    outline: 0;
    border-radius: 0;
}